.titulo {
    color: hotpink;
    width: 310px;
    height: 50px;
    background-color: teal;
}

label {
    background-color: tomato;
    width: 310px;
    height: 50px;
}

input {
    background-color: aqua;
    width: 310px;
    height: 50px;
}

button {
    background-color: blueviolet;
    width: 310px;
    height: 50px;
}